.backdrop {
	position: fixed;
	display: grid;
	place-items: center;
	width: 100lvw;
	height: 100lvh;
	background: #320032;
	filter: blur(2.5lvw) contrast(200%) saturate(200%) brightness(0.7);
	transition:
		filter 2s ease-in-out,
		background 1s ease-in-out;
}
.backdrop .shape {
	position: absolute;
	aspect-ratio: 1/1;
	border-radius: 100%;
	transition: border-radius 1s ease-in-out;
}
.backdrop .shape.one {
	width: 56svw;
	background: rgba(153, 255, 204, 0.4);
	transform: rotate(90deg) translate(45lvh, 5lvw);
	animation: shape-one 7s ease-in-out infinite alternate;
	animation-delay: -2s;
	transition-delay: 0s;
}
.backdrop .shape.two {
	width: 35lvw;
	background: rgba(255, 221, 153, 0.4);
	transform: rotate(200deg) translate(-35lvh, 12lvw);
	animation: shape-two 4s ease-in-out infinite alternate;
	animation-delay: -1s;
	transition-delay: 0.1s;
}
.backdrop .shape.three {
	width: 49svw;
	background: rgba(153, 238, 255, 0.4);
	transform: rotate(-165deg) translate(24lvh, -32lvw);
	animation: shape-three 5s ease-in-out infinite alternate;
	animation-delay: -3.5s;
	transition-delay: 0.2s;
}
.backdrop .shape.four {
	width: 40svw;
	background: rgba(240, 168, 192, 0.4);
	transform: rotate(25deg) translate(-16lvh, -19lvw);
	animation: shape-four 6s ease-in-out infinite alternate;
	animation-delay: -1.8s;
	transition-delay: 0.3s;
}
.backdrop .shape.five {
	width: 51svw;
	background: rgba(255, 153, 179, 0.4);
	transform: rotate(-55deg) translate(30lvh, 26lvw);
	animation: shape-five 5.5s ease-in-out infinite alternate;
	animation-delay: -0.4s;
	transition-delay: 0.4s;
}
.backdrop .shape.six {
	width: 34svw;
	background: rgba(153, 247, 255, 0.4);
	transform: rotate(120deg) translate(-40lvh, 46lvw);
	animation: shape-six 9.5s ease-in-out infinite alternate;
	animation-delay: -7.4s;
	transition-delay: 0.5s;
}
.backdrop .shape.seven {
	width: 43svw;
	background: rgba(255, 196, 153, 0.4);
	transform: rotate(-55deg) translate(-24lvh, 56lvw);
	animation: shape-seven 15.5s ease-in-out infinite alternate;
	animation-delay: -5.7s;
	transition-delay: 0.6s;
}

@keyframes shape-one {
	from {
		transform: rotate(90deg) translate(45lvh, 0);
	}
	to {
		transform: rotate(120deg) translate(-20lvh, 7lvw);
	}
}
@keyframes shape-two {
	from {
		transform: rotate(200deg) translate(-35lvh, 12lvw);
	}
	to {
		transform: rotate(240deg) translate(-35lvh, 9lvw);
	}
}
@keyframes shape-three {
	from {
		transform: rotate(-165deg) translate(24lvh, -32lvw);
	}
	to {
		transform: rotate(-100deg) translate(24lvh, -38lvw);
	}
}
@keyframes shape-four {
	from {
		transform: rotate(25deg) translate(-16lvh, -19lvw);
	}
	to {
		transform: rotate(-20deg) translate(-16lvh, -23lvw);
	}
}
@keyframes shape-five {
	from {
		transform: rotate(-55deg) translate(30lvh, 26lvw);
	}
	to {
		transform: rotate(-70deg) translate(30lvh, 21lvw);
	}
}
@keyframes shape-six {
	from {
		transform: rotate(120deg) translate(-40lvh, 46lvw);
	}
	to {
		transform: rotate(95deg) translate(52lvh, 50lvw);
	}
}
@keyframes shape-seven {
	from {
		transform: rotate(-55deg) translate(-24lvh, 56lvw);
	}
	to {
		transform: rotate(-75deg) translate(-19lvh, -39lvw);
	}
}
